.h5p-editor-multi-line-select {
  display: inline-block;
  position: relative;

  [role="listbox"] {
    padding: 0;
    background-color: white;
    border: 1px solid #aaa;
  }

  [role="option"] {
    display: block;
    position: relative;
  }

  [role="option"].focused {
    background-color: #bde4ff;
  }

  button {
    font-size: 16px;
    font-family: Lato, Sans-Serif, Arial;
    background-color: transparent;
    border: 1px solid #d0d0d1;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }


  button[aria-disabled="true"] {
    opacity: 0.5;
  }

  button.multi-select {
    border-radius: 0;
    font-size: 16px;
    text-align: left;
    position: relative;
    min-width: 18em;
  }

  [role="option"],
  button.multi-select {
    padding: 0.85em 1em;
  }

  button.multi-select:hover,
  button.multi-select[aria-expanded="true"] {
    box-shadow: 0 0 8px 3px rgba(208, 206, 217, 0.5);
  }

  button.multi-select::after {
    background: #fff url('./assets/down.png') no-repeat;
    width: 1em;
    height: 1em;
    content: " ";
    position: absolute;
    right: 0.85em;
    top: 50%;
    transform: translateY(-50%);
  }

  .title {
    font-weight: bold;
  }

  .description {
    font-size: 0.75em;
    color: #707070;
    font-style: italic;
  }

  button .description {
    color: #707070 !important;
  }

  .listbox {
    font-family: Lato, Sans-Serif, Arial;
    border-top: 0;
    overflow-y: auto;
    position: absolute;
    margin: 0;
    width: 100%;
    z-index: 1;
    outline: none;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }
}