.h5p-audio-recorder {
  background-color:var(--h5p-theme-ui-base);
}

.h5p-audio-recorder-view {
  padding: var(--h5p-theme-spacing-m);
  text-align: center;
  font-family: var(--h5p-theme-font-name);
  font-size: var(--h5p-theme-font-size-m);

  [class^="fa-"] {
    font-family: 'h5p-theme';
  }

  .fa-microphone {
    width: 60%;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: calc(2.5rem*var(--h5p-theme-scaling));
    border-radius: 50%;
    background-color: var(--h5p-theme-alternative-base);
    line-height: 2.2em;
    color: var(--h5p-theme-text-primary);
  }

  .h5p-audio-recorder-player {
    box-sizing: border-box;
    margin: var(--h5p-theme-spacing-m);

    audio {
      width: 100%;
    }
  }

  .title {
    color: var(--h5p-theme-text-primary);
    font-size: var(--h5p-theme-font-size-m);
    margin-bottom: var(--h5p-theme-spacing-s);
  }

  .h5p-theme-download:before {
    font-family: 'h5p-theme';
    content: '\e911';
    margin-right: var(--h5p-theme-spacing-xxs);
  }

  .h5p-theme-record:before {
    content: '\e928';
  }

  .h5p-theme-pause:before {
    content: '\e929';
  }

  .fa-microphone:before {
    content: '\e927';
  }

  /* status bar */
  [role="status"] {
      background-color: var(--h5p-theme-alternative-base);
      color: var(--h5p-theme-text-primary);
      padding: var(--h5p-theme-spacing-xs);
      border-radius: var(--h5p-theme-border-radius-small);

    &.recording {
      background-color: var(--h5p-theme-feedback-incorrect-secondary);
      color:  var(--h5p-theme-feedback-incorrect-main);
    }

    &.blocked,
    &.unsupported,
    &.insecure-not-allowed,
    &.cant-create-audio-file {
    background-color: var(--h5p-theme-feedback-incorrect-secondary);
      color: var(--h5p-theme-feedback-incorrect-main);
    }
  }

  .h5p-audio-recorder-download {
    font-size: var(--h5p-theme-font-size-xl);
    padding-bottom: var(--h5p-theme-spacing-m);
    color: var(--h5p-theme-text-primary);
    font-size: var(--h5p-theme-font-size-m);
  }

  .h5p-confirmation-dialog-popup {
    top: 5em;
    width: 35em;
    max-width: 100%;
    min-width: 0;
  }

  .button-row {
    margin-bottom: var(--h5p-theme-spacing-s);

    .button-row-double {
      width: 100%;
    }

    .button-row-left {
      text-align: right;
      flex: 1;
    }

    .button-row-right {
      text-align: left;
      flex: 1;
    }
  }

  @mixin button-filled($background-color, $color) {
    background-color: $background-color;
    color: $color;
    border-color: $background-color;
    border: 2px solid $background-color;
    box-sizing: border-box;

    &:hover {
      background-color: darken($background-color, 5%);
      border-color: darken($background-color, 5%);
    }

    &:active {
      background-color: darken($background-color, 10%);
      border-color: darken($background-color, 10%);
    }

    &[disabled] {
      background-color: lighten($background-color, 40%);
      border-color: lighten($background-color, 40%);
    }
  }

  @mixin button-inverse($background-color, $color) {
    background-color: $background-color;
    color: $color;
    border: 2px solid $color;
    box-sizing: border-box;

    &:hover {
      color: lighten($color, 10%);
      border-color: lighten($color, 10%);
    }

    &:active {
      color: darken($color, 10%);
      border-color: darken($color, 10%);
    }

    &[disabled],
    &[aria-disabled] {
      color: lighten($color, 40%);
      border-color: lighten($color, 40%);
    }
  }

  .button {
    [class^="fa-"] {
      font-weight: 400;
    }

    &.small {
      font-size: var(--h5p-theme-font-size-s-large);
    }

    &.record:hover,
    &.pause:hover {
      background-color: var(--h5p-theme-feedback-incorrect-main);
      border-color: var(--h5p-theme-feedback-incorrect-main);
    }

    &.record:active,
    &.pause:active {
      background-color: var(--h5p-theme-feedback-incorrect-main);
      border-color: var(--h5p-theme-feedback-incorrect-main);
    }

    &.pause:hover {
      color: var(--h5p-theme-feedback-incorrect-secondary) ;
    }
  }

  .button-row {
    &.small-screen {
      .h5p-theme-primary-cta,
      .h5p-theme-secondary-cta {
        padding: 0;
        height: var(--h5p-theme-spacing-xl);
        min-width: var(--h5p-theme-spacing-xl);
      }

      .h5p-theme-primary-cta:hover,
      .h5p-theme-secondary-cta:hover {
        text-indent: 0;
        padding: 0;
      }

      .h5p-theme-primary-cta:before,
      .h5p-theme-secondary-cta:before {
        position: unset;
        width: 100%;
        opacity: 1;
        transform: translate(0, 0);
        text-indent: 0;
        margin-right: 0;
      }

      .h5p-theme-label {
        display: none;
      }
    }

    &:not(.small-screen) .button {
      [class^="fa-"] {
        margin-right: var(--h5p-theme-spacing-xxs);
      }
    }
  }

  .button.record {
    background-color: var(--h5p-theme-feedback-incorrect-main);
    color: var(--h5p-theme-feedback-incorrect-secondary);
    border: solid 3px var(--h5p-theme-feedback-incorrect-main);
  }

  .button.pause {
    background-color: var(--h5p-theme-ui-base);
    color: var(--h5p-theme-feedback-incorrect-main);
    border: solid 3px var(--h5p-theme-feedback-incorrect-main);
  }
}

.h5p-audio-recorder .h5p-theme-primary-cta:first-child:last-child,
.h5p-audio-recorder .h5p-theme-secondary-cta:first-child:last-child {
  margin:  unset;
}

.h5p-audio-recorder .h5p-theme-download {
  text-decoration: none;
  margin: 0 0.5em 0 0 !important;
  display: inline-block;
}
